<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login Page</title>
  </head>
  <body>
    <h1>Please Login in to our Site</h1>
    <h2>{{invalid}}</h2>
    <form class="" action="/login" method="post">
      <input type="text" name="username" value="" placeholder="Username...">
      <input type="password" name="password" value="" placeholder="Password...">
      <input type="submit" name="submit" value="Submit">
    </form>

    <form class="" action="/createAccount" method="post">
      <button type="submit" name="create">Sign Up</button>
    </form>
  </body>
</html>
